dash~=3.0.4
pandas~=2.3.2
vaderSentiment~=3.3.2
plotly~=6.1.2
asyncio~=3.4.3
ccxt>=4.4.14
pytz~=2024.1
networkx~=3.3
numpy~=2.2.6
statsmodels~=0.14.2
PyYAML~=6.0.1
python-dateutil~=2.9.0.post0
setuptools~=80.9.0
krakenex~=2.2.2
scikit-learn~=1.5.2
seaborn~=0.13.2
matplotlib~=3.9.2
dtreeviz~=2.2.2
dash-bootstrap-components~=1.6.0
taipy~=4.1.0
pytest~=8.3.3
river~=0.22.0